<?xml version="1.0" encoding="UTF-8"?>
 <configuration>
     <system.webServer>
      <rewrite>
    <rules>
      <rule name="Angular Routes" stopProcessing="true">
        <match url=".*" />
        <conditions logicalGrouping="MatchAll">
          <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
        </conditions>
        <action type="Rewrite" url="/index.html" />
      </rule>
    </rules>
  </rewrite>
         <httpErrors existingResponse="Replace" errorMode="Custom">
             <remove statusCode="404" subStatusCode="-1" />
             <error statusCode="404" prefixLanguageFilePath="" path="/my-app/index.html" responseMode="ExecuteURL" />
         </httpErrors>
     </system.webServer>
     <system.web>
        <customErrors mode="Off"/>
         <sessionState mode="Off" />
         <httpRuntime
             requestValidationMode="2.0"
             requestPathInvalidCharacters="<,>,%,&amp;,\,?,*" />
         <pages validateRequest="false" />
     </system.web>
 </configuration>